// HTML
$font-reset-default: 62.5%;
$font-default: 'adega-serif',Arial, Helvetica, sans-serif;
$font-size-reset-default: 1.8rem;
$font-size-elements-form-default: 1.4rem;
$color-reset-default: #935033;
$color-hover-default: #584b45;
$body-bg-color: #faf4ef;


// IMAGES 
$img-max-width: 100%;
$img-height: auto;
$img-margin: 0 auto;
$img-display: block;
$img-object-fit: cover;


// MENU
$menu-postion: relative;
$menu-width: 100%;
$menu-z-index: 9999;
$menu-font-size: 1.8rem;
$menu-color-active: #935033;
$menu-navbar-light-padding: 1rem 0;