@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:active {
        padding: 0 0.7rem;
        font-size: 1.5rem;
        text-align: center;
    }
    
}